#play {
    background-color:inherit;
}
#play #playControls {
    width:500px;
    margin:auto;
    padding:10px;
    white-space:nowrap;
}
#play #counterContainer {
    display:inline-block;
    vertical-align:top;
}
#play #curCounter-title {
    color:#fff;
    font-size:18px;
}
#play #curCounter {
    font-size:70px;
    color:green;
}
#play #totalCounter {
    color: #fff;
}

#play #albumContainer {
    display:inline-block;
    vertical-align:top;
    margin-right:10px;
}