#play {
    background-color:inherit;
}
#play #playControls {
    width:200px;
    margin:auto;
    padding:10px;
    white-space:nowrap;
}
#play #playControls td {
    vertical-align:top;
}
#play #counterContainer {
    display:inline-block;
    vertical-align:top;
}
#play #curCounter-title {
    color:#fff;
    font-size:12px;
    font-weight:bold;
}
#play #curCounter {
    font-size:70px;
    color:green;
}
#play #totalCounter {
    color: #fff;
}
#play #pieTimer {
    position:relative;
    left:-155px;
    top:30px;
    z-index:1000;
}
#play #playlistItemContainer {
    display:inline-block;
}

#play #playlistDetailsContainer {
    vertical-align:top;
}
#play #albumContainer {
    display:inline-block;
    vertical-align:top;
    margin-right:10px;
}
#play #playlist {
    width:100vw;
}
#play #playlistName {
    color:white;
    font-size:18px;
}