#play {
    background-color:inherit;
}
#play #playControls {
    padding:10px;
    display:table;
}
#play #playControls > div {
    display:table-cell;
}
#play #counterContainer {
    vertical-align:middle;
}
#play #curCounter-title {
    color:#fff;
    font-size:12px;
    font-weight:bold;
}
#play #curCounter {
    font-size:70px;
    color:green;
}
#play #pieTimer {
    display:block;
    margin:auto;
}
#play #totalCounter {
    color: #fff;
    vertical-align:text-bottom;
    text-align:center;
    margin-top: 10px;
    color:#BFBFBF;
    font-weight:bold;
}
#play #playlistDetailsContainer {
    vertical-align:top;
    width:100%;
}
#play #albumContainer {
    vertical-align:top;
    padding-right:10px;
}
#play #playlist {
    width:100%;
}
#play #playlistName {
    color:white;
    font-size:28px;
}
#play #playlistOwner, 
#play #playlistDescription{
    font-size:12px;
    color:#BFBFBF;
}

